body {
    border: 0;
    padding: 0;
    margin: 0;

    background-color: #000e31;
}

.card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

 /*  Page Wrapper  */

 .page-wrapper {
   z-index:-10;

   display: flex;
   height: auto;
   width: 100vw;
   transition: 0.3s ease; 
 }
 .page-wrapper.open .main-section {
    width: 85vw;
    margin-left: 15vw;
 }
 .page-wrapper.open {
     margin-left: 0;
     width: 100vw;
 }
 .page-wrapper.open .navbar {
    left: 0;
    transition: 0.3s ease;
 }

 .page-wrapper.open .background-image {
    width: 85vw;
    transition: 0.3s width ease, 0s top ease;
 }

 /*  Main Section  */

.main-section {
   background-color: var(--backgroundColor);
   
   z-index:  -1;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: top;
   height: auto;
   min-height: 100vh;
   width: 100%;

   transition: 0.3s ease;
}

 .background-image {
    background-image: var(--backgroundImage);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    width: 100%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s width ease, 0s top ease;
 }

.intro {
   /*background-color:rgba(255, 255, 255, 0.50); */
   
   height:auto;
   width:30vw;

   color: var(--introText);

   transform: translate(2vw, -2.5vh);

   font-size: 2rem;
}

.hello-text {
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: left;
   z-index: 20;
   width: 100vw;

   transform: translate(40vw, -15vh);
}

.hello-text > h1 {
   color: var(--introText);

   font-size: 4rem;
}

/*Main Block of Text*/

.block-wrapper {
   background-color: var(--backgroundColor);

   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: space-evenly;

   width: 100%;
   height: auto;

   z-index: 17;
   
   margin: 0 auto;

}

.headshot-wrapper{
   padding-top: 15vh;
   position: sticky;
   top: 0;
}

.headshot {
   height: 70vh;
   width: auto;

   border-radius: 25px;
}

.right-column-wrapper{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   width: 40%;
}

.text-block{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: top;

   width: 100%;
   height: auto;
   margin-bottom: 10vh;

   transform: translateY(30vh);

   color: black;

   border-radius: 25px;

   background-color:rgba(255, 255, 255, 0.50);
}

.text-block > h1 {
   font-size: 3rem;
}

.text-block > p {
   font-size: 1.5rem;

   transform: translateY(-2vh);

   padding-right: var(--commonPadding);
   padding-left: var(--commonPadding);
}


.text-link {
   z-index: 100;

   text-decoration: none;
   color: black; 
   font-size: 1.5rem;
   font-style:italic;

   cursor: pointer;
}

.text-link:hover {
   font-size: 1.6rem;
}


/*Footer Section*/
.footer-wrapper {
   height: 20vh;
   width: 12%;

   z-index: 22;

   display: flex;
   flex-direction: row;
   align-items:center;
   justify-content:space-between;
}

.image-link {
   height: 1vw;
   width: 1vw;

   background-color: rgba(255, 255, 255);
   border-radius: 6px;
}